

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
    position: relative;
    
  
}
.slider_items{
    margin: 10px;
    box-shadow:0 3px 36px 0 rgba(202,226,213,0.4);
    background-color:#ffffff;
    border-radius:6px;
  position: relative;
  height:249px;
  padding: 35px;

}
.slider_items .card{

    text-align: left!important;
    border-radius: 6px;
   
}
 .card p{
    padding-top: 20px;
    padding-bottom: 20px;

}

.slider .pri{
    width: 42px;
    height: 42px;
    background-color:#ffffff;
    color: #32C850;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -80px;
    left: 47%;
    border-radius: 50%;
    box-shadow:0 3px 6px 3px #CAE2D5;
}

 .slider .next {
    width: 42px;
    height: 42px;
    background-color: #ffffff;
    color: #32C850;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -80px;
    right: 47%;
    border-radius: 50%;
    box-shadow:0 3px 6px 3px #CAE2D5;
}



 